/*
css for project1 javascript game
Author: Scott Larson
*/

h1{
	color: black;
    font-family: Helvetica, Geneva, Arial,
          SunSans-Regular, sans-serif;
}

body{
	color: purple;
	background-color: #cccccc;
	padding: 10px 10px 10px 10px;
}
